<title>Stripe Business Information</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
  <head>
    <h1>Stripe Business Information</h1>
  </head>
  <body>
    <h3>
      What we're selling
    </h3>
    <p>
      We are selling hand towels and sweat shirts for Exclusive Martial Arts in Littleton, CO. This webstore is only available to students and parents at this school.
    </p>
    <h3>Links to our checkout pages</h3>
    <p>Begin the checkout process from the following links. You select what you want to buy, then click 'checkout'. From there, you will click the checkout button which will create a Stripe session and redirect to the Stripe Checkout page.</p>
    <a href="https://ema-store.herokuapp.com/views/shopping_cart.html">Hoodie Orders</a><br>
    <a href="https://ema-store.herokuapp.com/quantity_cart.html">Towel Orders</a>
    <h3>How customers get in contact</h3>
    <p>The following info is how customers can get in contact:
    </p>
    <p>Email: chandler.despirlet@icloud.com</p>
    <p>Call/Text: 7203396397</p>
    <h1>Privacy Policy</h1>
    <p>We take privacy very seriously. No information is ever given out, except to Stripe which handles the payment processing. Emails are stored on our database to ensure we have the ability to reference past orders. No billing or any information pertaining to financials are kept on the database.</p>
  </body>
</html>