<!DOCTYPE html>
<html>
    {% block content %}
    <head>
        <title>Buy EMA Hand Towel</title>
        <link rel="stylesheet" href="../views/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
        <script src="https://js.stripe.com/v3/"></script>
    </head>
    <body>
        <section>
            <div class="product">
                <img
                    src="https://scontent.fapa1-2.fna.fbcdn.net/v/t1.0-9/142708276_10158908630253374_264610551351045715_o.jpg?_nc_cat=107&ccb=2&_nc_sid=825194&_nc_ohc=Yoaqnx29oxEAX-4O0OX&_nc_ht=scontent.fapa1-2.fna&oh=42ed29cbceb8bdb991142da3466724e7&oe=6036A938"
                    alt="EMA Hand Towel Image"
                    />
                <div class="description">
                <h3>EMA Hand Towel</h3>
                <h5>2021 EMA Hand Towel</h5>
                </div>
            </div>
        <button id="checkout-button"><i class="material-icons">shopping_cart</i> Checkout</button>
        </section>
    </body>
    <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe("pk_live_51H75ScKv0edLDEqJ8k4LxVn631pt1O6oGNRlKv2r18MoMhpukBMixD9JPFBiJFrCIWnYLrJ9ACAGY47n2ouic96d00QzHRAoT3");
        var checkoutButton = document.getElementById("checkout-button");

        checkoutButton.addEventListener("click", function () {
        fetch("/qty-create-session", {
            method: "POST",
        })
            .then(function (response) {
            return response.json();
            })
            .then(function (session) {
            return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function (result) {
            // If redirectToCheckout fails due to a browser or network
            // error, you should display the localized error message to your
            // customer using error.message.
            if (result.error) {
                alert(result.error.message);
            }
            })
            .catch(function (error) {
            console.error("Error:", error);
            });
        });
    </script>
</html>
{% endblock %}